body{
	font-family:"微软雅黑";
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,li,ul{
	margin:0;
	padding:0;
	list-style:none;
}
.background{
	width: 800px;
	height: 650px;
	color:white;
	font-family: "FZLS";
	font-size: 24px;
	border:1px solid black;
	margin:50px auto;
	background-image:url('../img/1.jpg');
}
.character{
	width: 30px;
	height: 130px;
	position: absolute;
	top:450px;
	left:290px;
	margin-top: 10px;
}
.character1{
	width: 30px;
	height: 130px;
	position: absolute;
	top:500px;
	left:320px;
}
.character2{
	width: 30px;
	height: 200px;
	position: absolute;
	top:325px;
	left:1015px;
}
span{
	margin-top: 10px;
	margin-left: 10px;
}
.character3{
	width: 30px;
	height: 200px;
	position: absolute;
	top:260px;
	left:980px;
}

#sence{
	position:relative;
	width: 600px;
	height: 600px;
	/*border:1px solid black;*/
	background-image:url('../img/4.jpg');
	margin: 30px auto;
	border-radius:8px;
}
.block{
	/*background:white;*/
	margin: 0px 1px 1px 0px;
	float:left; 
	position:relative;
	z-index:8884;
	border-radius:50%;
}
/*.aa,.cc{
	width: 150px;
	height: 150px;
	float:left;
	margin:20px;
	border:1px solid black;
	text-align:center;
	line-height:150px;
	font-size: 20px;
	color:white;
	cursor: pointer;
}
.aa{
	background: red;
}
.cc{
	opacity:0;
	background: yellow;	
}

.sence{
	position:relative;
	width: 600px;
	height: 600px;
	border:1px solid black;
	margin: 30px auto;
	border-radius:8px;
}*/
